@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: 'Roboto', sans-serif;
}

/* Premium Classes jo har page par kaam karengi */
.premium-border { border: 1px solid rgba(234, 179, 8, 0.2); }
.yellow-glow { box-shadow: 0 0 30px rgba(234, 179, 8, 0.15); }
.nav-glass { 
  background: rgba(0, 0, 0, 0.8); 
  backdrop-filter: blur(15px); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.05); 
}